.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px 0;
}

.post {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  max-height: 391px;
}

.postDesc {
  overflow: hidden;
  -webkit-box-orient: vertical;

  max-height: calc(1.2em * 3);

  line-height: 1.2em;
  text-overflow: ellipsis;

  -webkit-line-clamp: 3;
}
