@import '@/app/styles/mixins';

.container {
  height: 100%;
  margin-top: -20px;
}

@include tablet {
  .container {
    padding: 0 40px;
  }
}

@include mobile {
  .container {
    padding: 0 10px;
  }
}
