.container {
  padding: 60px 64px 48px 24px;
}

.wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 24px;

  .textField {
    width: 100%;
    max-width: 644px;
  }

  .select {
    width: 100%;
    max-width: 234px;
  }
}

.table {
  margin-bottom: 36px;
}

.pagination {
  margin-left: -10px;
}

.viewport {
  background-color: var(--dark-500);
  border: 1px solid var(--dark-100);
}

.dropdownTrigger {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;

  &.triggerOpen {
    color: red;
  }

  .menuIcon {
    color: var(--light-100);
  }
}

.dropdownItem {
  margin-right: 12px;
}

.triggerOpen {
  color: red;
}
