.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  margin: 30px 24px 36px;

  .actions {
    display: flex;
    gap: 70px;

    .btn {
      width: 100%;
      max-width: 130px;
    }
  }
}

.trigger {
  display: flex;
  gap: 12px;
  padding: 12px;
  color: var(--light-100);
}
