.container {
  margin-top: 24px;
}

.filters {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.select {
  max-width: 234px;
}

.search {
  flex-grow: 1;
}
