.form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 378px;
  margin: 0 auto;
  padding: 23px 24px 36px;
}

.title {
  margin-bottom: 37px;
}

.input {
  margin-bottom: 24px;
}

.button {
  margin-top: 12px;
}
